cmake_minimum_required(VERSION 2.8)

project(pluginname)
#set(PLUGIN_NAME pluginname) # defaults to CMAKE_PROJECT_NAME, if not set

set(SOURCES pluginname.cpp) # list of all files to be compiled
set(HEADERS pluginname.h) # list of all header files
set(MOC_HEADERS pluginname.h) # files to be moc-ified
#set(UIS pluginname.ui)

# Also you can use next commands instead of manual file enumeration:
#file(GLOB SOURCES "*.cpp")
#file(GLOB HEADERS "*.h")
#file(GLOB UIS "**.ui")

# By default, only QtNetwork and QtXml modules are linked, if you need other
# modules - set corresponding variables for FindQt4 CMake module:
#   http://www.cmake.org/cmake/help/cmake-2-8-docs.html#module:FindQt4
#set(QT_USE_QTDBUS ON)
#set(QT_USE_QTWEBKIT ON)

# Build system assumes that *.ts files are named translations/${lang}/${pluginname}.ts
set(LOCALIZED_LANGS "ru;pl;de;uk")

include("${CMAKE_SOURCE_DIR}/cmake/config.cmake")
include("${CMAKE_SOURCE_DIR}/cmake/translations.cmake")
include("${CMAKE_SOURCE_DIR}/cmake/plugin.cmake")
