@charset "utf-8";

body 
{
	background-color: hsla(0, 0%, 37%, 1);
}

#Chat
{
	//border-bottom: 8px solid hsla(0, 0%, 37%, 1) !important;
	//border-top: 8px solid hsla(0, 0%, 37%, 1) !important;
}

#Chat > div:first-of-type .xxxmark,
#Chat > div:first-of-type .xxxmessage
{
	border-top: 4px solid hsla(0, 0%, 0%, 1);
}

#Chat > div:last-of-type .xxxmark,
#Chat > div:last-of-type .xxxmessage
{
	border-bottom: 4px solid hsla(0, 0%, 0%, 1);
}

#Chat > div:first-of-type .xxxiconsmall,
#Chat > div:first-of-type .xxxsender,
#Chat > div:first-of-type .xxxtime
{
	border-top: 4px solid hsla(0, 0%, 12.5%, 1);
}

#Chat > div:last-of-type .xxxiconsmall,
#Chat > div:last-of-type .xxxsender,
#Chat > div:last-of-type .xxxtime
{
	border-bottom: 4px solid hsla(0, 0%, 12.5%, 1);
}

.history + :not(.history) .xxxmark,
.history + :not(.history) .xxxmessage
{
	border-top: 16px solid hsla(0, 0%, 0%, 1) !important;
}

.history + :not(.history) .xxxiconsmall,
.history + :not(.history) .xxxsender,
.history + :not(.history) .xxxtime
{
	border-top: 16px solid hsla(0, 0%, 12.5%, 1) !important;
}

.xxxwrapper:hover,
.xxxwrapper.xxxhover
{
	text-shadow: .0em .1em .2em hsla(0, 0%, 0%, .8);
}

.xxxwrapper,
.history .xxxmark,
.history .xxxmessage
{
	background-color: hsla(0, 0%, 12.5%, 1);
}

.xxxwrapper.history
{
	background-color: hsla(0, 0%, 20%, 1);
}

.xxxwrapper:hover,
.xxxwrapper:hover > .xxxmark,
.xxxwrapper:hover > .xxxmessage,
.xxxwrapper.xxxhover,
.xxxwrapper.xxxhover > .xxxmark,
.xxxwrapper.xxxhover > .xxxmessage
{
	background-color: hsla(0, 0%, 25%, 1) !important;
}

.xxxwrapper.history:hover,
.xxxwrapper.history:hover > .xxxmark,
.xxxwrapper.history:hover > .xxxmessage,
.xxxwrapper.history.xxxhover,
.xxxwrapper.history.xxxhover > .xxxmark,
.xxxwrapper.history.xxxhover > .xxxmessage
{
	background-color: hsla(0, 0%, 25%, 1) !important;
}

.xxxmark
{
	border-color: hsla(0, 0%, 37%, 1);
}

.xxxmessage
{
	background-color: hsla(0, 0%, 0%, 1);
	border-color: hsla(0, 0%, 37%, 1);
}

/*----------*/

.mention .xxxmark,
.mention .xxxmessage,
.history.mention .xxxmark,
.history.mention .xxxmessage
{
	background-color: hsla(0, 25%, 15%, 1) !important;
}

.mention:hover .xxxmark,
.history.mention:hover .xxxmark,
.mention:hover .xxxmessage,
.history.mention:hover .xxxmessage,
.mention.xxxhover .xxxmark,
.history.mention.xxxhover .xxxmark,
.mention.xxxhover .xxxmessage,
.history.mention.xxxhover .xxxmessage
{
	background-color: hsla(0, 50%, 15%, 1) !important;
}
