@charset "utf-8";

.xxxmark
{
	background-color: hsla(0, 0%, 100%, 1) !important;
}

.history .xxxmark
{
	background-color: hsla(0, 0%, 90%, 1) !important;
}

/*----------*/

.outgoing,
.outgoing.consecutive.message .xxxsender:after
{
	color: hsla(120, 42%, 40%, .8) !important;
}

.outgoing .xxxmark
{
	color: hsla(120, 42%, 40%, .7) !important;
}

.outgoing:hover,
.outgoing:hover .xxxmark,
.outgoing:hover .xxxmessage,
.outgoing:hover.consecutive.message .xxxsender:after,
.outgoing.xxxhover,
.outgoing.xxxhover .xxxmark,
.outgoing.xxxhover .xxxmessage,
.outgoing.xxxhover.consecutive.message .xxxsender:after
{
	color: hsla(120, 42%, 25%, 1) !important;
}

/*----------*/

.incoming,
.incoming.consecutive.message .xxxsender:after
{
	color: hsla(240, 72%, 55%, .8) !important;
}

.incoming .xxxmark
{
	color: hsla(240, 72%, 55%, .7) !important;
}

.incoming:hover,
.incoming:hover .xxxmark,
.incoming:hover .xxxmessage,
.incoming:hover.consecutive.message .xxxsender:after,
.incoming.xxxhover,
.incoming.xxxhover .xxxmark,
.incoming.xxxhover .xxxmessage,
.incoming.xxxhover.consecutive.message .xxxsender:after
{
	color: hsla(240, 72%, 40%, 1) !important;
}

/*----------*/

.status,
.event
{
	color: hsla(0, 0%, 60%, .8) !important;
}

.status .xxxmark,
.event .xxxmark
{
	color: hsla(0, 0%, 60%, .7) !important;
}

.status:hover,
.status:hover .xxxmark,
.status:hover .xxxmessage,
.event:hover,
.event:hover .xxxmark,
.event:hover .xxxmessage,
.status.xxxhover,
.status.xxxhover .xxxmark,
.status.xxxhover .xxxmessage,
.event.xxxhover,
.event.xxxhover .xxxmark,
.event.xxxhover .xxxmessage
{
	color: hsla(0, 0%, 35%, 1) !important;
}

