@charset "utf-8";

.xxxmark
{
	background-color: hsla(0, 0%, 0%, 1) !important;
}

.history .xxxmark
{
	background-color: hsla(0, 0%, 12.5%, 1) !important;
}

/*----------*/

.outgoing,
.outgoing.consecutive.message .xxxsender:after
{
	color: hsla(120, 42%, 45%, .8) !important;
}

.outgoing .xxxmark
{
	color: hsla(120, 42%, 45%, .7) !important;
}

.outgoing:hover,
.outgoing:hover .xxxmark,
.outgoing:hover .xxxmessage,
.outgoing:hover.consecutive.message .xxxsender:after,
.outgoing.xxxhover,
.outgoing.xxxhover .xxxmark,
.outgoing.xxxhover .xxxmessage,
.outgoing.xxxhover.consecutive.message .xxxsender:after
{
	//color: hsla(120, 42%, 70%, 1) !important;
}

/*----------*/

.incoming,
.incoming.consecutive.message .xxxsender:after
{
	color: hsla(240, 72%, 75%, .8) !important;
}

.incoming .xxxmark
{
	color: hsla(240, 72%, 75%, .7) !important;
}

.incoming:hover,
.incoming:hover .xxxmark,
.incoming:hover .xxxmessage,
.incoming:hover.consecutive.message .xxxsender:after,
.incoming.xxxhover,
.incoming.xxxhover .xxxmark,
.incoming.xxxhover .xxxmessage,
.incoming.xxxhover.consecutive.message .xxxsender:after
{
	//color: hsla(240, 72%, 85%, 1) !important;
}

/*----------*/

.status,
.event
{
	color: hsla(0, 0%, 40%, .8) !important;
}

.status .xxxmark,
.event .xxxmark
{
	color: hsla(0, 0%, 35%, .7) !important;
}

.status:hover,
.status:hover .xxxmark,
.status:hover .xxxmessage,
.event:hover,
.event:hover .xxxmark,
.event:hover .xxxmessage,
.status.xxxhover,
.status.xxxhover .xxxmark,
.status.xxxhover .xxxmessage,
.event.xxxhover,
.event.xxxhover .xxxmark,
.event.xxxhover .xxxmessage
{
	//color: hsla(0, 0%, 75%, 1) !important;
}

