@charset "utf-8";

*
{
	font-size: 100% !important;
	text-decoration: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	//border-bottom: 1px solid green !important;
	//text-decoration: line-through !important;
}

body 
{
	margin: 0px;
	//overflow-x: hidden;
	word-wrap: break-word;
	word-break: break-word;
}

#Chat
{
	//padding-bottom: 8px;
	//padding-top: 8px;
	//overflow-x: hidden;
	//word-wrap: break-word;
	display: table;
}

#Chat > div:first-of-type .xxxmessage
{
	padding-top: .3em;
}

#Chat > div:last-of-type .xxxmessage
{
	padding-bottom: .3em;
}

:not(.date_separator) + .date_separator .xxxmessage,
.date_separator .xxxmessage,
.history + :not(.history) .xxxmessage
{
	padding-top: 1.6em !important;
}

.xxxwrapper
{
	display: table-row;
	position: relative;
}

.xxxwrapper,
.xxxmark,
.xxxmessage
{
	-webkit-transition: background-color .4s linear;
}

.xxxiconsmall,
.xxxsender,
.xxxmark,
.xxxmessage,
.xxxtime
{
	display: table-cell;
}

.IRC .xxxiconsmall,
.status .xxxiconsmall,
.event .xxxiconsmall,
.consecutive .xxxiconsmall,
.history .xxxiconsmall
{
	display: none;
}

.xxxiconsmall[src*="buddy_icon.png"]
{
	display: none;
	//visibility: hidden;
	//height: 0em;
}

.xxxiconsmall
{
	max-height: 1.3em;
	max-width: 1.3em;
	padding-left: 4px;
	opacity: .875;
}

.xxxiconlarge
{
	width: auto;
	height: auto;
	opacity: .875;
}

.status .xxxsender,
.event .xxxsender
{
	color: transparent !important;
}

.xxxsender
{
	max-width: 10em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
	font-size: .75em !important;
}

.xxxmark
{
	border-width: 1px;
	border-left-style: solid;
}

.xxxmessage
{
	padding-left: .5em;
	padding-right: .5em;
	max-width: 90%;
	width: 100%;
	line-height: 1.4em;
	border-width: 1px;
	border-right-style: solid;
}


.emoticon
{
	white-space: nowrap;
	text-wrap: suppress;
	word-wrap: normal;
}

.xxxmessage img.emoticon
{
	max-height: 1.18em;
	width: auto;
	position: relative;
	top: 0px;
	vertical-align: top;
	margin-top: .2em;
	opacity: .75;
}

.xxxmessage:hover img.emoticon
{
	opacity: 1;
}

.xxxtime
{
	white-space: nowrap;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
	font-size: .5em !important;
}

xxxinsert
{
	display: block;
}

/*----------*/

a
{
	border-bottom: 1px dotted;
}

a:hover
{
	border-bottom: 1px solid;
}

a:active
{
	border-bottom: 2px double;
}

a
{
	color: inherit;
}

a:hover
{
	color: inherit;
}

img.fullSizeImage
{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

img.scaledToFitImage
{
	width: auto;
	max-height: 1.18em;
}

