@charset "utf-8";

#topic,
#topicArea
{
	position: fixed;
	background:	rgba(208, 208, 208, .85);
	-webkit-background-size: auto auto;
	overflow: hidden;
	min-height: 17px;
	height: 17px;
	width: 100%;
	z-index: 999;
}

#topicEdit,
#topicMessage
{
	position: absolute;
	top: 1px;
	width: 100%;
	min-height: 15px;
	padding: 0 20px 0 8px;
	font-size: 11px;
	font-family: Lucida Grande, sans-serif;
	line-height: 15px;
	//text-align: center;
	color: black !important;
	word-wrap: break-word;
	white-space: pre-wrap;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

#topicEdit a,
#topicMessage a
{
	//color: blue !important;
}

#toggleButton
{
	position: absolute;
	top: 2px;
	right: 1px;
	width: 17px;
	height: 16px;
	z-index: 10;
	cursor: default;
	font-size: 12px !important;
	font-family: AppleGothic;
}

#toggleButton:before
{
	content: "\25BD";
}

#toggleButton:hover:before
{
	content: "\25BC";
}

#toggleButton.up:before
{
	content: "\25B3";
}

#toggleButton.up:hover:before
{
	content: "\25B2";
}

