<config profile="Default" >
 <profile name="Default" >
  <plugin uid="{a6f3d775-8464-4599-ab79-97ba1baa6e96}" >
   <window>
    <geometry value="4::165::188::570" type="19" />
   </window>
  </plugin>
  <plugin uid="{8074a197-3b77-4bb0-9bd3-6f06d5cb8d15}" >
   <stream ns="test1@potapov/Vacuum" value="Test1@potapov/Vacuum" >
    <version value="1.0" />
    <lang value="ru" />
    <password value="1" />
    <host value="potapov" />
    <port value="5222" />
    <connection>
     <proxyType value="0" />
     <proxyHost value="" />
     <proxyPort value="1080" />
     <proxyUsername value="" />
     <proxyPassword value="" />
     <pollServer value="" />
    </connection>
   </stream>
   <stream ns="test2@potapov/Vacuum" value="Test2@potapov/Vacuum" >
    <version value="1.0" />
    <lang value="ru" />
    <password value="1" />
    <host value="potapov" />
    <port value="5222" />
    <connection>
     <proxyType value="0" />
     <proxyHost value="" />
     <proxyPort value="1080" />
     <proxyUsername value="" />
     <proxyPassword value="" />
     <pollServer value="" />
    </connection>
   </stream>
   <stream ns="test3@potapov/Vacuum" value="Test3@potapov/Vacuum" >
    <version value="1.0" />
    <lang value="ru" />
    <password value="1" />
    <host value="potapov" />
    <port value="5222" />
    <connection>
     <proxyType value="0" />
     <proxyHost value="" />
     <proxyPort value="1080" />
     <proxyUsername value="" />
     <proxyPassword value="" />
     <pollServer value="" />
    </connection>
   </stream>
   <stream ns="lion@jrudevels.org/Vacuum" value="Lion@jrudevels.org/Vacuum" >
    <version value="1.0" />
    <lang value="ru" />
    <password value="97100" />
    <host value="jrudevels.org" />
    <port value="5222" />
    <connection>
     <proxyType value="0" />
     <proxyHost value="" />
     <proxyPort value="1080" />
     <proxyUsername value="" />
     <proxyPassword value="" />
     <pollServer value="" />
    </connection>
   </stream>
  </plugin>
 </profile>
</config>
