<config profile="Default" >
 <profile name="Default" >
  <plugin uid="{a6f3d775-8464-4599-ab79-97ba1baa6e96}" >
   <window>
    <geometry value="4::165::186::570" type="19" />
   </window>
  </plugin>
  <plugin uid="{8074a197-3b77-4bb0-9bd3-6f06d5cb8d15}" />
  <plugin uid="{56f1aa4c-37a6-4007-acfe-557eebd86af8}" >
   <account ns="20kv2q" >
    <streamJid value="Test2@potapov/Vacuum" />
    <name value="Test2" />
    <host value="" />
    <password value="1" />
    <defaultLang value="" />
    <proxyPort value="0" />
    <autoReconnect value="true" />
    <active value="true" />
    <manualHostPort value="false" />
   </account>
   <account ns="6b6eue" >
    <streamJid value="Test3@potapov/Vacuum" />
    <name value="Test3" />
    <host value="" />
    <password value="1" />
    <defaultLang value="" />
    <proxyPort value="0" />
    <autoReconnect value="true" />
    <active value="true" />
   </account>
   <account ns="2d2ghe" >
    <streamJid value="Lion@online.vlz.ru/Vacuum" />
    <name value="online.vlz.ru" />
    <host value="" />
    <password value="97100" />
    <defaultLang value="" />
    <proxyPort value="0" />
    <autoReconnect value="true" />
    <active value="true" />
    <proxyType value="0" />
   </account>
   <account ns="t3i7v9" >
    <streamJid value="Lion@jrudevels.org/Vacuum" />
    <name value="JRuDevels.org" />
    <host value="" />
    <password value="97100" />
    <active value="false" />
   </account>
   <account ns="294gv5" >
    <streamJid value="Test1@potapov/Vacuum" />
    <name value="Test1" />
    <host value="" />
    <active value="true" />
   </account>
   <account ns="1j9mum" >
    <streamJid value="Lion_vlz@jabber.ru/Vacuum" />
    <name value="Jabber.ru" />
    <host value="" />
    <password value="97100" />
    <active value="false" />
   </account>
  </plugin>
 </profile>
</config>
