.xxxwrapper 
{
  border-style		:none;
  font-size		:medium;
  margin-top		:2px;
}

.consecutive 
{
  margin-top		:0px;
}

.consecutive .xxxsender,
.consecutive .xxxtime
{
  color			:transparent;
}

.xxxmessage
{
  padding-left		:5px;
}

.xxxsender,
.xxxtime 
{
  white-space		:nowrap;
}

.xxxtime 
{
  font-size             :small;
  color			:gray;
}

.status .xxxmessage
{
  color			:darkgreen;
}

.notification .xxxmessage
{
  color			:darkblue;
}

.event .xxxmessage
{
  color			:darkred;
}
