.xxxwrapper 
{
  border-style		:none;
  font-size		:medium;
}

.xxxtime,
.xxxtopic
{
  padding-top		:5px;
  padding-bottom	:5px;
}

.xxxtime 
{
  white-space		:nowrap;
  font-size             :small;
  color			:gray;
}

.xxxtopic
{
  padding-left		:20px;
  padding-right		:20px;
}
