@charset "utf-8";

*
{
	font-size: 100% !important;
	text-decoration: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	//border-bottom: 1px solid green !important;
	//text-decoration: line-through !important;
}

body
{
	margin: 0px;
	word-wrap: break-word;
	word-break: break-word;
}

#Chat
{
	//padding-bottom: 8px;
	//padding-top: 8px;
	//overflow-x: hidden;
	//word-wrap: break-word;
	display: table;
}

hr#focus
{
	left: 0px;
	//right: 52px;
	width: .5em;
	overflow: hidden;
	border: none;
	margin-top: -1.8em !important;
}


hr#focus:before
{
	font-size: 1.3em !important;
	//font-family: Apple Symbols;
	content: "\258e";
	color: rgba(255, 0, 0, 1);
	//text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
	//margin-top: -12px !important;
}

#Chat > div:first-of-type .xxxmark
{
	//padding-top: .3em;
}

#Chat > div:last-of-type .xxxmark
{
	//padding-bottom: .3em;
}

:not(.date_separator) + .date_separator .xxxmessage,
.date_separator .xxxmessage,
.history + :not(.history) .xxxmessage
{
	//padding-top: 1.6em !important;
}

/*.date_separator:not(.history) .xxxmessage,*/
.history + :not(.history) .xxxmessage
{
	//padding-top: 1.6em !important;
}

.xxxwrapper
{
	display: table-row;
	position: relative;
}

.xxxwrapper,
.xxxmark,
.xxxmessage
{
	//-webkit-transition: background-color .4s linear;
}

.xxxiconsmall,
.xxxsender,
.xxxmark,
.xxxmessage,
.xxxtime
{
	display: table-cell;
}

.IRC .xxxiconsmall img,
.status .xxxiconsmall img,
.event .xxxiconsmall img,
.consecutive .xxxiconsmall img,
.history .xxxiconsmall img
{
	display: none;
}

.xxxiconsmall img[src*="buddy_icon.png"]
{
	display: none;
	//visibility: hidden;
	//height: 0em;
}

.xxxiconsmall img
{
	max-height: 1.1em;
	max-width: 1.1em;
	padding-left: 4px;
	opacity: .875;
}

.status .xxxsender,
.event .xxxsender
{
	color: transparent !important;
}

.xxxsender
{
	max-width: 10em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
	font-size: .75em !important;
}

.consecutive.message .xxxsender
{
	color: transparent;
}

.consecutive.message .xxxsender:after
{
	content: "\21e7";
	margin-left: -2em;
	font-size: 1em !important;
}

.action .xxxsender
{
	color: transparent;
}

.actionMessageUserName
{
	display: inline;
}

.actionMessageUserName:after
{
	content: " ";
}

.actionMessageUserName:before
{
	content: "\2022";
}

.actionMessageBody:after
{
	content: "";
}

.actionMessageBody:before
{
	content: "";
}

.xxxmark
{
	border-width: 1px;
	border-left-style: solid;
}

.xxxmessage
{
	padding-left: .5em;
	padding-right: .5em;
	max-width: 90%;
	width: 100%;
	line-height: 1.4em;
	border-width: 1px;
	border-right-style: solid;
}

.emoticon
{
	white-space: nowrap;
	text-wrap: suppress;
	word-wrap: normal;
}

.xxxmessage img.emoticon
{
	max-height: 1.18em;
	width: auto;
	position: relative;
	top: 0px;
	vertical-align: top;
	margin-top: .2em;
	opacity: .75;
}

.xxxmessage:hover img.emoticon
.xxxmessage.xxxhover img.emoticon
{
	opacity: 1;
}

.xxxmessage img.emoticon:before
{
	//content: attr(alt);
	content: "\2665";
}

.xxxtime
{
	white-space: nowrap;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
	font-size: .5em !important;
}

xxxinsert
{
	display: block;
}

/*----------*/

a
{
	color: inherit;
	border-bottom: 1px dotted;
}

a:hover
{
	border-bottom: 1px solid;
	color: inherit;
}

a:active
{
	border-bottom: 2px double;
	color: inherit;
}

img.fullSizeImage
{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

img.scaledToFitImage
{
	width: auto;
	max-height: 1.18em;
}

