@charset "utf-8";

.outgoing,
.incoming,
.consecutive.message .xxxsender:after
{
	color: hsla(0, 0%, 75%, .8);
}

.outgoing:hover,
.incoming:hover,
.consecutive.message:hover .xxxsender:after,
.outgoing.xxxhover,
.incoming.xxxhover,
.consecutive.message.xxxhover .xxxsender:after
{
	color: hsla(0, 0%, 100%, 1);
}

.status,
.status .xxxmessage,
.event,
.event .xxxmessage
{
	color: hsla(0, 0%, 40%, .8);
}

.status .xxxmark,
.event .xxxmark
{
	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(0, 0%, 0%, 1);
}

.status:hover,
.status:hover .xxxmark,
.status:hover .xxxmessage,
.event:hover,
.event:hover .xxxmark,
.event:hover .xxxmessage,
.status.xxxhover,
.status.xxxhover .xxxmark,
.status.xxxhover .xxxmessage,
.event.xxxhover,
.event.xxxhover .xxxmark,
.event.xxxhover .xxxmessage
{
	color: hsla(0, 0%, 65%, 1) !important;
}

.history.status .xxxmark,
.history.event .xxxmark
{
	background-color: hsla(0, 0%, 12.5%, 1) !important;
	color: hsla(0, 0%, 12.5%, 1) !important;
}

.status.history:hover .xxxmark,
.event.history:hover .xxxmark,
.status.history.xxxhover .xxxmark,
.event.history.xxxhover .xxxmark
{
	//background-color: hsla(0, 0%, 20%, 1);
	color: hsla(0, 0%, 55%, 1) !important;
}

.message:not(.history):not(.consecutive) .xxxmark
{
	border-top: 1px solid hsla(0, 0%, 0%, 1);
}

.message.history:not(.consecutive) .xxxmark
{
	border-top: 1px solid hsla(0, 0%, 12.5%, 1);
}

.message.mention .xxxmark,
.message:hover .xxxmark,
.message.xxxhover .xxxmark
{
	border-top: transparent !important;
}

#Chat > div:first-of-type .xxxmark,
#Chat > div:first-of-type .xxxmessage
{
	border-top: 4px solid hsla(0, 0%, 0%, 1) !important;
}

#Chat > div:last-of-type .xxxmark,
#Chat > div:last-of-type .xxxmessage
{
	border-bottom: 4px solid hsla(0, 0%, 0%, 1) !important;
}

#Chat > div:first-of-type .xxxiconsmall,
#Chat > div:first-of-type .xxxsender,
#Chat > div:first-of-type .xxxtime
{
	border-top: 4px solid hsla(0, 0%, 12.5%, 1) !important;
}

#Chat > div:last-of-type .xxxiconsmall,
#Chat > div:last-of-type .xxxsender,
#Chat > div:last-of-type .xxxtime
{
	border-bottom: 4px solid hsla(0, 0%, 12.5%, 1) !important;
}

.history + :not(.history) .xxxmark,
.history + :not(.history) .xxxmessage
{
	border-top: 16px solid hsla(0, 0%, 0%, 1) !important;
}

.history + :not(.history) .xxxiconsmall,
.history + :not(.history) .xxxsender,
.history + :not(.history) .xxxtime
{
	border-top: 16px solid hsla(0, 0%, 12.5%, 1) !important;
}

